In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [2]:
train_df = pd.read_csv('C:/Users/AYUSHI JAIN/Documents/Data/titanic/train.csv',header=0)
test_df = pd.read_csv('C:/Users/AYUSHI JAIN/Documents/Data/titanic/test.csv',header=0)

In [3]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [4]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [5]:
cols = ['Name','Ticket','Cabin']
train_df = train_df.drop(cols,axis=1)
test_df = test_df.drop(cols,axis=1)

In [6]:
train_df = train_df.dropna()

In [7]:
dummies1 = []
dummies2 = []
cols = ['Pclass','Sex','Embarked']
for col in cols :
    dummies1.append(pd.get_dummies(train_df[col]))
    dummies2.append(pd.get_dummies(test_df[col]))

In [8]:
titanic_dummies1 = pd.concat(dummies1, axis=1)
titanic_dummies2 = pd.concat(dummies2, axis=1)

In [9]:
train_df = pd.concat((train_df,titanic_dummies1),axis=1)
test_df = pd.concat((test_df,titanic_dummies2),axis=1)

In [10]:
train_df = train_df.drop(['Pclass','Sex','Embarked'],axis=1)
test_df = test_df.drop(['Pclass','Sex','Embarked'],axis=1)

In [11]:
train_df['Age'] = train_df['Age'].interpolate()
test_df['Age'] = test_df['Age'].interpolate()
test_df['Fare'] = test_df['Fare'].interpolate()

In [12]:
test_df.describe()

,PassengerId,Age,SibSp,Parch,Fare,1,2,3,female,male,C,Q,S
count,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000
mean,1100.500000,30.045251,0.447368,0.392344,35.565974,0.255981,0.222488,0.521531,0.363636,0.636364,0.244019,0.110048,0.645933
std,120.810458,13.502708,0.896760,0.981429,55.854524,0.436934,0.416416,0.500135,0.481622,0.481622,0.430019,0.313324,0.478803
min,892.000000,0.170000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,996.250000,21.500000,0.000000,0.000000,7.895800,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1100.500000,27.700000,0.000000,0.000000,14.454200,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000
75%,1204.750000,38.875000,1.000000,0.000000,31.471875,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000
max,1309.000000,76.000000,8.000000,9.000000,512.329200,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [13]:
train_X = train_df.values
train_y = train_df['Survived'].values

In [14]:
train_X = np.delete(train_X,1,axis=1)

In [15]:
X_train, X_test, y_train, y_test = train_test_split(train_X,train_y,test_size=0.3,random_state=0)

In [16]:
from sklearn import tree
clf = tree.DecisionTreeClassifier(max_depth=5)
clf.fit(X_train,y_train)
clf.score(X_test,y_test)

0.7570093457943925

In [17]:
clf.feature_importances_

array([0.06401501, 0.10339426, 0.0759503 , 0.00571734, 0.07051063,
       0.06113314, 0.01470174, 0.13903877, 0.46553881, 0.        ,
       0.        , 0.        , 0.        ])

In [18]:
from sklearn import ensemble
clf = ensemble.RandomForestClassifier(n_estimators=100)
clf.fit (X_train, y_train)
clf.score (X_test, y_test)

0.7710280373831776

In [19]:
clf = ensemble.GradientBoostingClassifier()
clf.fit (X_train, y_train)
clf.score (X_test, y_test)

0.8037383177570093

In [20]:
y_results = clf.predict(test_df)

In [21]:
y_results

array([0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1,
       1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0],
      dtype=int64)

In [22]:
len(y_results)

418

In [23]:
test_df.head()

   PassengerId   Age  SibSp  Parch     Fare  1  2  3  female  male  C  Q  S
0          892  34.5      0      0   7.8292  0  0  1       0     1  0  1  0
1          893  47.0      1      0   7.0000  0  0  1       1     0  0  0  1
2          894  62.0      0      0   9.6875  0  1  0       0     1  0  1  0
3          895  27.0      0      0   8.6625  0  0  1       0     1  0  0  1
4          896  22.0      1      1  12.2875  0  0  1       1     0  0  0  1

In [24]:
test_df['PassengerId'].head()

0    892
1    893
2    894
3    895
4    896
Name: PassengerId, dtype: int64

In [25]:
import csv
output = np.column_stack((test_df['PassengerId'],y_results))
df_results = pd.DataFrame(output.astype('int'),columns=['PassengerID','Survived'])
df_results.to_csv('titanic_results.csv',index=False)